extends layout

block content
  #banner.page-header
    .row
      .col-lg-6

        h1 Wifi4Free
          small &nbsp;Find places to work with wifi near you.
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") GreenMermaid
            small &nbsp;
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star-o
              span.fa.fa-star-o
            span.badge.pull-right.badge-default 100m
          p.address 44 Low Street, Sacramento, 95554
          p
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning High Speed Wifi
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Roasted
            small &nbsp;
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star-o
              span.fa.fa-star-o
            span.badge.pull-right.badge-default 10m
          p.address 444 Lower Street, Sacramento, 95554
          p
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning High Speed Wifi
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Paddys
            small &nbsp;
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
              span.fa.fa-star
            span.badge.pull-right.badge-default 5m
          p.address 4444 Below Street, Sacramento, 95554
          p
            span.label.label-warning Cold Beers
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning High Speed Wifi
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Looking for free wifi and a cup of Joe or a pitcher of beer? Wifi4Free will help you find a place to work when out on the town. Let us at Wifi4Free help you out with finding a place with free wifi.
